// USES ------------------------------------------------------------------------------------------------------------------
@use './partials/index.scss';
@use './partials/tienda.scss';
@use './partials/producto.scss';

// RESET CSS -------------------------------------------------------------------------------------------------------------
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

// GENERAL STYLES --------------------------------------------------------------------------------------------------------
body {
    background-color: #222222;
    overflow: auto;
}

p {
    font-size: 2.25rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #ececec;
}

b {
    font-size: 2.25rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #ececec;
}

a {
    font-size: 2.25rem;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #ececec;
}
.link:hover {
    text-decoration: underline solid 1.25px #e0dd9f;
    color: #e0dd9f;
}

.title {
    font-size: 4rem;
    font-family: 'PT Serif', serif;
    font-weight: 550;
    text-decoration: underline solid 2px #ececec;
    color: #ececec;
}

.subtitle {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    font-weight: 550;
    text-decoration: underline solid 2px #ececec;
    color: #ececec;
}

.cursor_pointer {
    cursor: pointer;
}

// CARRITO ---------------------------------------------------------------------------------------------------------------
.first_panel {
    margin: 10rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .disclaimer {
        font-size: 1.75rem;
        font-family: 'Roboto Slab', serif;
        color: #ececec;
        margin: 0;
        b {
            font-size: 1.75rem;
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
            text-decoration: underline solid 1px #ececec;
            color: #ececec;
        }
    }
    .carrito_button {
        padding: 1rem;
        background: none;
        border: none;
        border-radius: 10px;
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
        img {
            height: 5rem;
            width: 5rem;
        }
    }
    .carrito_button:hover {
        background-color: #1d1d1d;
    }
}

.carrito {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5rem;
    background-color: #121212;
    width: 35%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);

    .carrito_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        border-bottom: solid 2px #555555;
        padding-bottom: 5rem;
        p {
            font-size: 4rem;
            font-family: 'PT Serif', serif;
            font-weight: 550;
            text-decoration: underline solid 2px #ececec;
            color: #ececec;
        }
        img {
            height: 3rem;
            width: 3rem;
            cursor: pointer;
        }
    }
    .productosSeleccionados {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        padding: 2.5rem 0rem 3rem 0rem;
        ul {
            width: 100%;
            li {
                background-color: #1d1d1d;
                border-radius: 25px;
                padding: 2rem 0rem;
                margin: 2.5rem 0rem;
                height: 15rem;
                width: 100%;
                display: flex;
                justify-content: space-around;
                .leftLi_span {
                    .carritoLi_img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border: solid 1.50px #1c1c1c;
                        border-radius: 15px;
                        }
                }
                .middleLi_span {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: end;
                    gap: 2.5rem;
                    .middleLi_name {
                        font-size: 2rem;
                        font-family: 'Roboto Slab', serif;
                        font-weight: 300;
                        color: #ececec;
                        text-decoration: underline solid 1px #ececec;
                    }
                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        p {
                            width: 100%;
                            font-size: 1.8rem;
                            display: flex;
                            justify-content: space-between;
                            span {
                                font-size: 2rem;
                                font-family: 'Roboto Slab', serif;
                                font-weight: 300;
                                color: #ececec;
                            }
                        }
                    }
                }
                .rightLi_span {
                    display: flex;
                    align-items: end;
                    gap: 2rem;
                    img {
                        height: 3rem;
                        width: 3rem;
                        cursor: pointer;
                    }
                }
            }
        }
        .vaciarCarrito_button {
            margin-top: 2.5rem;
            padding: 1rem 2rem;
            font-size: 2.25rem;
            font-family: 'Roboto Slab', serif;
            text-decoration: none;
            color: #ececec;
            background-color: #1d1d1d;
            border: solid 2px #000000;
            border-radius: 20px;
            cursor: pointer;
        }
        .vaciarCarrito_button:hover {
            color: #1d1d1d;
            font-weight: 900;
            background-color: #e0dd9f;
            border: solid 2px #898760;
        }
    }
    .precioFinal {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        border-top: solid 2px #555555;
        padding-top: 3.5rem;
        span {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}

// HEADER ----------------------------------------------------------------------------------------------------------------
header {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    padding: 7.5rem 20rem;
    div {
        display: flex;
        gap: 10rem;
        .headerTitle, .headerLogo {
            height: 15rem;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
            font-size: 2.25rem;
            font-family: 'Roboto Slab', serif;
            color: #ececec;
            background-color: #555555;
            border: none;
            border-radius: 25px;
            padding: 1rem 2rem;
            width: 50rem;
        }
    }
}

// FOOTER ----------------------------------------------------------------------------------------------------------------
footer {
    background-color: #1d1d1d;
    margin-top: 10rem; // -----------------------------------------------
    .footerTop {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px #121212;
        padding: 10rem 20rem;
        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 3rem;
            h3 {
                font-size: 2.25rem;
                font-family: 'Roboto Slab', serif;
                font-weight: 400;
                color: #ececec;
            }
            .footerImg {
                height: 3rem;
            }
            .footerMediosDiv {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                div {
                    display: flex;
                    gap: 2rem;
                }
            }
            .footerRedesDiv {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                div {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .footerContactoDiv {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h3 {
                    margin-bottom: 1rem;
                }
                a, p {
                    font-size: 1.75rem;
                }
            }
            .footerFinalText {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;
                p {
                    font-size: 1.75rem;
                    img {
                        margin-right: 0.5rem;
                        height: 1.75rem;
                    }
                }
            }
        }
    }
    .footerBottom {
        padding: 5rem 50rem;
        p {
            font-size: 1.75rem;
            text-align: center;
        }
    }
}